header#Top {
  padding-bottom: 80px;
}

#output-table {
  margin: 0 auto;
  width: auto;
  margin-bottom: 5%;
  border-radius: 10px;
  overflow: hidden;
}

section#body {
  margin: 5%;
  padding: 2% 0;
  border-radius: 10px;
  background: white;
}

h1 {
  padding: 2% 0;
  text-align: center;
}

body {
  background-image: url("../home/imag/background.png");
  background-position: 0 85px;
  background-repeat: repeat-x;
}

#graph-container {
  padding-bottom: 4%;
}

section#download {
  display: flex;
  justify-content: space-evenly;
}

#download-button {
  display: inline-block;
}

form#save {
  display: inline-block;
}

canvas {
  border: 1px solid black;
  border-radius: 10px;
}

#chart-divider {
  padding: 2% 0;
}

#content-wrap {
  min-height: 100vh;
}
