header#Top {
  padding-bottom: 80px;
}

#output-table {
  margin: 0 auto;
  width: auto;
  margin-bottom: 5%;
}

section#body {
  margin: 5%;
  /* border: 1px solid black; */
  border-radius: 10px;
  background: white;
}

h1 {
  padding: 2% 0;
  text-align: center;
}

body {
  background-image: url("../home/imag/background.png");
  background-position: 0% -7%;
  background-repeat: repeat-x;
}

#graph-container {
  padding-bottom: 4%;
}
